body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: black;
}

.App {
  width: 100%;
  min-height: calc(100vh - 80px);
  margin: 40px 0;
}

/* Flex */
.flex {
  display: flex;
}
.flex-center {
  align-items: center;
  justify-content: center;
}
.horizontal, .horizontal-only {
  flex-direction: row
}
.vertical {
  flex-direction: column;
}
@media screen and (max-width: 720px){
  .horizontal {
    flex-direction: column
  }
}
.flex-1 {
  flex: 1;
}
.flex-2 {
  flex: 2;
}
.flex-3 {
  flex: 3;
}

/* TEXT */
.text-center {
  text-align: center;
}

/* Panel */
.Panel {
  width: 100%;
  max-width: 650px;
  border-radius: 10px;
  margin: 10px;
  padding: 15px;
  background-color: rgba(231, 231, 231, 0.867);
}
@media screen and (max-width: 720px){
  .Panel {
    border-radius: 0px;
    margin: 0px;
    padding: 5px;
  }
}

/* INPUT */
.form-group {
  margin: 10px 0;
}
.form-group > label {
  display: block;
  padding: 10px 0;
  font-weight: bold;
}
.form-control {
  padding: 10px 20px;
  font-size: 1rem;
  border-radius: 10px;
  border: 1px #ccc solid;
}